<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= name + ' | ' + nomPage %></title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/static/css/app.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" />
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
        <script>
            function compare_date(date) {
                let date_compare = new Date(date).getTime();
                let now_date = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());

                if (date_compare >= now_date) {
                    return true;
                } else return false;
            }

            function add_task() {
                var titre = $("#titre").val();
                var description = $("#description").val();
                var date = new Date($("#date").val());

                if (titre != "" && description != "") {
                    if (compare_date(date)) {
                        $.ajax({
                            url: "/v1/acceuil",
                            method: "POST",
                            contentType: "application/json",
                            data: JSON.stringify({
                                titre: titre,
                                description: description,
                                date: date,
                            }),
                            success: (result) => {
                                if (result.status == "000") {
                                    location.reload();
                                } else {
                                    $("#error_message").html("Erreur de sauvegarde de la tâche.");
                                    $("#error_message").show().delay(2000).fadeOut();
                                }
                            },
                        });
                    } else {
                        $("#error_message").html("La date entrée doit être supérieure ou égale à la date du jours");
                        $("#error_message").show().delay(2000).fadeOut();
                    }
                } else {
                    $("#error_message").html("Veuillez remplir tous les champs du formulaire");
                    $("#error_message").show().delay(2000).fadeOut();
                }
            }

            function update(id) {
                $.ajax({
                    url: "/v1/update",
                    type: "POST",
                    data: JSON.stringify({
                        id: id,
                    }),
                    success: (result) => {
                        if (result.status == "000") {
                            //On remet les informations des gens dans le modal
                            let todo = result.data;

                            $("#titre").val(todo.titre);
                            $("#description").val(todo.description);
                            $("#date").val(todo.date);
                        } else {
                            $(".modal").hide();
                        }
                    },
                });
            }
        </script>
        <!-- Modal_FORM -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div id="error_message" class="row" style="color: red; display: none"></div>
                            <br />
                            <div class="row">
                                <input type="text" class="form-control" name="titre" id="titre" placeholder="Nom de la tâche" style="font-size: x-large; font-weight: bold" />
                            </div>
                            <div class="row">
                                <input type="text" class="form-control" name="description" id="description" placeholder="Description" style="font-size: small" />
                            </div>
                            <br />
                            <div class="row">
                                <input type="date" class="form-control" name="date" id="date" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="button" onclick="add_task()" class="btn btn-danger">Ajouter une tâche</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-sm" style="background-color: #d1453b">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><%= name %> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="btn"><i class="bi bi-house-door" style="font-size: 20px"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn"><i class="bi bi-search" style="font-size: 20px"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex">
                    <a class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-lg" style="font-size: 20px"></i></a>
                    <a class="btn"><i class="bi bi-question-circle" style="font-size: 20px"></i></a>
                    <a class="btn"><i class="bi bi-bell" style="font-size: 20px"></i></a>
                    <a class="btn"><i class="bi bi-person-circle" style="font-size: 20px"></i></a>
                </div>
            </div>
        </nav>
        <br /><br />
        <div class="container" style="margin-left: 305px">
            <div class="col-8">
                <h5><span class="">Aujourd'hui</span><small style="font-size: 12px; color: gray; margin-left: 6px"> <%= jour %> </small></h5>
                <hr />
                <div id="contenu">
                    <% todos.forEach(todo => { %>
                    <div class="row">
                        <div class="col-10">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="<%= todo._id %> " id="checkBox" />
                                <label>
                                    <%= todo.title %> <br />
                                    <small style="font-size: 12px; color: gray; margin-left: 6px"><%= todo.description %></small>
                                </label>
                            </div>
                        </div>
                        <div class="text-center col-2 pt-2">
                            <button class="btn btn-primary" title="Modifier" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="update('<%= todo._id %>')">
                                <i class="bi bi-pencil" style="font-size: 15px"></i>
                            </button>
                            <button class="btn btn-danger" title="Supprimer"><i class="bi bi-trash3" style="font-size: 15px"></i></button>
                        </div>
                    </div>

                    <hr />
                    <% }) %>
                </div>
                <div class="text-center">
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus"></i>Ajouter tâche</button>
                </div>
            </div>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
